---
import BasicTextEditor from "../Components/BasicTextEditor";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Basic Text Editor</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <meta
      name="htmx-config"
      content='{"methodsThatUseUrlParams":["post"], "selfRequestsOnly":"true"}'
    />
  </head>
  <body>
    <BasicTextEditor client:only="react" />
  </body>
</html>
